@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    background-color: rgb(20, 14, 36);
    color: white;
    font-weight: 300;
}
.name>span{
    display: none;
}

.submenu:hover .name>span{
    display: block;
}
.submenu{
    transition: transform ease-in-out .4s;
}
.submenu:hover{
    transform: scaleX(1.03);
}
.profile{
    cursor: pointer;
    padding: 6px 20px;
   
}
.profile p{
    border-radius: 100px;
 background-color: transparent;
    transition: all ease-in-out .4s;
    padding: 5px;
}
.profile:hover p{
    background-color: blue;
    
}
.profile h3 span{
    display: none;
}
.profile:hover h3 span{
    display: block;
}
.profile:hover{
    background-color: rgba(155, 149, 149, 0.274);
}

