@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,200&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0; padding: 0; box-sizing: border-box;
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,sans-serif;
}
body{
    color: white;
    font-weight: 300;
}

.scrollbar-hide::-webkit-scrollbar {
    background-color: gray;
    width: 2px;
}
.scrollbar-hide::-webkit-scrollbar-thumb{
    background-color: rgb(41, 40, 40);
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.name>span{
    opacity: 0;
}

.submenu:hover .name>span{
    opacity: 1;
}
.submenu{
    transition: transform ease-in-out .4s;
}
.submenu:hover{
    transform: scaleX(1.03);
}
.profile{
    cursor: pointer;
    padding: 6px 20px;
   
}
.profile p{
    border-radius: 100px;
 background-color: transparent;
    transition: all ease-in-out .4s;
    padding: 5px;
}
.profile:hover p{
    background-color: blue;
    
}
.profile h3 span{
    display: none;
}
.profile:hover h3 span{
    display: block;
}
.profile:hover{
    background-color: rgba(155, 149, 149, 0.274);
}


.times{
    display: none;
}
.hidetimes:hover .times{
    display: block;
}
.hidetimes:hover .arrow{
    animation: myAnim 4s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}

 .Apost:hover .comments{
    color: white !important;
    transition: color ease-in-out .4s;
 }