@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0; padding: 0; box-sizing: border-box;
}
body{
    color: white;
    font-weight: 300;
}
.name>span{
    display: none;
}

.submenu:hover .name>span{
    display: block;
}
.submenu{
    transition: transform ease-in-out .4s;
}
.submenu:hover{
    transform: scaleX(1.03);
}
.profile{
    cursor: pointer;
    padding: 6px 20px;
   
}
.profile p{
    border-radius: 100px;
 background-color: transparent;
    transition: all ease-in-out .4s;
    padding: 5px;
}
.profile:hover p{
    background-color: blue;
    
}
.profile h3 span{
    display: none;
}
.profile:hover h3 span{
    display: block;
}
.profile:hover{
    background-color: rgba(155, 149, 149, 0.274);
}

.showLike>small{
    display: none;
}
.showLike:hover small{
    display: block;
}

.times{
    display: none;
}
.hidetimes:hover .times{
    display: block;
}
.hidetimes:hover .arrow{
    animation: myAnim 4s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0);
	}

	10%,
	30%,
	50%,
	70% {
		transform: translateX(-10px);
	}

	20%,
	40%,
	60% {
		transform: translateX(10px);
	}

	80% {
		transform: translateX(8px);
	}

	90% {
		transform: translateX(-8px);
	}
}